* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("wallhaven-j3j6wm_1920x1357.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    font-size: 40px;
    padding-bottom: 20px;
}
